.card {
  border: none;
  padding: 10px;
  background-color: whitesmoke;
}

.img-div {
  overflow: hidden;
  border-radius: 10px;
}

.img-div > img{
    transition: 0.4s;
    border-radius: 10px;
}

.img-div > img:hover{
    transform: scale(1.05);
}

.game-name {
  color: teal;
}

.card p {
  transition: 0.4s;
}

.card p:hover {
  background-color: rgba(0, 0, 0, 0.137);
  padding: 10px;
  border-radius: 15px;
}

.img-btn{
    color: teal;
    background-color: white;
    border-radius: 10px;
}

.img-btn:hover{
    color: black;
    border-radius: 10px;
}